# Binaries
timehair-server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Database
*.db
*.db-journal

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
